.App {
  text-align: center;
}

.btn{
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #40005d;
  border: 1px solid #eee;
  padding: 0.8rem;
  border-radius: 12px;
  margin: 15px 0px;
}

